* {
    font-family: 'Roboto', sans-serif;
}

.login {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login .logo {
    margin: 75px;
}

.acess * {
    margin: 7px;
}

.waiting img {
    width: 200px;
}

.waiting * {
    margin: 7px;
}

.waiting h2 {
    font-weight: 400;
    font-size: 18px;
}

.login div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login .waiting {
    display: none;
}

.acess input {
    width: 261px;
    height: 54px;
    text-align: center;
    border: 1px #d7d7d7 solid;
    border-radius: 4px;
    font-weight: 400;
    font-size: 18px;
}

.acess button {
    width: 109px;
    height: 45px;
    background-color: #e7e7e7;
    border-radius: 9px;
    font-weight: 400;
    font-size: 18px;
}

header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    filter: drop-shadow(4px 4px rgba(120, 120, 120, 0.05));
}

header img {
    width: 75px;
    margin-left: 22px;
}

header ion-icon {
    font-size: 43px;
    margin-right: 22px;
}

main {
    height: auto;
    padding-top: 105px;
    padding-bottom: 80px;
    background-color: #f3f3f3;
}

main li {
    min-height: 40px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    word-break: normal;
}

.container-message {
    padding-left: 8px;
}

.container-message * {
    font-size: 14px;
}

.time {
    color: gray;
}

.bold {
    font-weight: bold;
}

.message {
    background-color: #ffffff;
}

.status {
    background-color: #dcdcdc;
}

.private_message {
    background-color: #ffdede;
}

footer {
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    filter: drop-shadow(-4px -4px rgba(120, 120, 120, 0.05));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ion-icon {
    font-size: 35px;
    margin-right: 15px;
}

footer button {
    background: none;
    border: none;
}

.texts input {
    height: 30px;
    width: 315px;
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-weight: 400;
    font-size: 18px;
}

.texts input::placeholder {
    color: #000000;
    font-style: normal;
    font-size: 18px;
}

.texts h3 {
    font-style: italic;
    color: gray;
    font-size: 14px;
}

.container-side-bar-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background-color: rgba(38, 37, 37, 0.5);
}

.side-bar-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    height: 100%;
    width: 259px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.side-bar-menu ul li{
    position: relative;
}

.side-bar-menu ion-icon {
    font-size: 24px;
}

.side-bar-menu h2{
    margin: 30px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.side-bar-menu h3{
    margin-left: 8px;
    font-size: 16px;
    font-weight: 400;
}

.side-bar-menu li{
    height: 36px;
    width: 225px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.check {
    position: absolute;
    right: 27px;
    color: green;
    display: none;
}

.selectedType .check{
    display: flex;
}

.selectedPerson .check{
    display: flex;
}

.close {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    height: 100%;
    width: calc(100% - 259px);
    background: none;
}

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-4-16 14:19:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(259px);
              transform: translateX(259px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(259px);
              transform: translateX(259px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  